<!-- TODO: docu -->
<li class="card card-featured" id="{{ id }}">
  <img src="{{ src }}" width="250" height="250" alt="{{ alt }}" />
  <div class="p-4 text-coal">
    <h5 class="font-secondary text-xl mb-2">{{ title }}</h5>
    <p class="leading-[1.5] mb-0">{{ desc }}</p>
  </div>
  <div class="p-[0.5rem_1rem] bg-transparent border-t-2 border-plum-subtle">
    <a
      class="text-primary hover:text-primary-shade underline"
      href="javascript:void(0)"
    >
      Featured Article
    </a>
  </div>
</li>
