<footer class="bg-secondary-shade">
  <div class="py-2 px-4 bg-white border-t border-ultramarine-subtle">
    <div class="text-center">
      <p class="leading-[1.5] md:inline me-1">Contact Us:</p>
      <address class="md:inline underline">
        <a
          class="block md:inline md:me-2 text-primary hover:text-primary-shade"
          href="javascript:void(0)"
        >
          circular-economy-101@yopmail.com
        </a>
        <a
          class="text-primary hover:text-primary-shade"
          href="javascript:void(0)"
          >+34 93 233 20 00</a
        >
      </address>
    </div>
  </div>

  <div
    class="bg-white flex flex-wrap justify-center items-center py-2 border-t border-silver-light"
  >
    <p class="leading-[1.5] flex items-center">
      <include src="./views/logo-sm.html"></include>
      <span class="font-secondary text-secondary text-xl font-bold">
        Circular Economy 101
      </span>
    </p>

    <ul class="flex justify-center md:mx-4 lg:mx-5">
      <include src="./views/nav-home.html"></include>
      <include src="./views/nav-items.html"></include>
    </ul>

    <nav class="flex flex-wrap">
      <button
        class="py-1 px-3 text-primary hover:text-primary-shade cursor-pointer"
        type="button"
      >
        <i class="fa-brands fa-google"></i>
      </button>
      <button
        class="py-1 px-3 text-primary hover:text-primary-shade cursor-pointer"
        type="button"
      >
        <i class="fa-brands fa-facebook"></i>
      </button>
      <button
        class="py-1 px-3 text-primary hover:text-primary-shade cursor-pointer"
        type="button"
      >
        <i class="fa-brands fa-twitter"></i>
      </button>
    </nav>

    <div class="flex items-center mt-2 lg:mt-0 lg:ms-5">
      <img
        class="block h-[45px]"
        src="./assets/images/bcn.svg?as=webp"
        alt="Barcelona City Hall logo"
        width="145"
        height="45"
      />
      <img
        class="block h-[45px]"
        src="./assets/images/fira.svg?as=webp"
        alt="Barcelona Fair logo"
        width="145"
        height="45"
      />
    </div>
  </div>

  <div class="flex flex-wrap justify-center gap-2 py-4">
    <img
      class="bg-white rounded"
      src="./assets/images/logo.png?as=webp"
      alt="logo UOC"
      width="174"
      height="45"
    />
    <div class="text-white">
      <p class="leading-[1.5]">Isaac Bejarano, 2025</p>
      <p class="leading-[1.5] fst-normal">
        <small>
          <i class="bi bi-c-circle"></i>
          <span lang="ca"> Universitat Oberta de Catalunya </span>
        </small>
      </p>
    </div>
  </div>

  <div class="mx-auto lg:w-[50%]">
    <!-- toogler -->
    <button
      class="inline-flex justify-between w-full p-4 bg-secondary-shade text-primary-subtle border border-primary-subtle rounded-t-2xl cursor-pointer"
      id="js-collapse-toggler"
      type="button"
      onclick="collapse('js-collapse-toggler', 'js-collapse-toggler-icon', 'js-collapse-references')"
    >
      References
      <svg
        class="-mr-1 size-7"
        id="js-collapse-toggler-icon"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
        data-slot="icon"
      >
        <path
          fill-rule="evenodd"
          d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
          clip-rule="evenodd"
        />
      </svg>
    </button>

    <!-- list -->
    <div
      class="hidden mb-4 p-4 bg-secondary-shade border border-primary-subtle"
      id="js-collapse-references"
    >
      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "rounded-t-md",
        "href": "https://sustainability-speakers.com/news/top-10-lists/official-circular-economy-speakers",
        "ca": "",
        "text": "The Sustainability Speakers Agency",
        "filetype": "website" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://commons.wikimedia.org/wiki/File:Ellen-McArthur_(1).jpg",
        "ca": "",
        "text": "Ellen McArthur",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://sustainability-speakers.com/wp-content/uploads/2021/04/Pia-Heidenmark-Cook-Sustainability-.jpg.webp",
        "ca": "",
        "text": "Pia Heidenmark Cook",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://climatehughes.org/wp-content/uploads/2022/02/EO0A7596-1280x914.jpg",
        "ca": "",
        "text": "Nigel Topping",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://commons.wikimedia.org/wiki/File:2019_-_Centre_Stage_-_Day_2_VJR21719_(49024431887).jpg",
        "ca": "",
        "text": "Kate Brandt",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://eco-business.imgix.net/uploads/ebmedia/fileuploads/sally_uren.jpg?ar=16%3A10&auto=format&dpr=2&fit=crop&ixlib=django-1.2.0&q=45&width=480",
        "ca": "",
        "text": "Sally Uren",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://sustainability-speakers.com/wp-content/uploads/2021/04/Steve-Howard.jpg.webp",
        "ca": "",
        "text": "Steve Howard",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://commons.wikimedia.org/wiki/File:Jeremy_Schwartz.png",
        "ca": "",
        "text": "Jeremy Schwartz",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://sustainability-speakers.com/wp-content/uploads/2022/02/Mike-Barry-Sustainability-.jpg.webp",
        "ca": "",
        "text": "Mike Barry",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://assets.weforum.org/sf_account/image/bW1nk-YuXW1eeDOjkA61ZaORWIPK9KFyi-nFsm1iyfc.jpg",
        "ca": "",
        "text": "Michael Pawlyn",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://ses-cdn.react.hk/wp-content/uploads/2024/07/27123007/632921108a6c13b8652136c9_Keynote-Speech-A_Ms-Peggy-LIU_Photo.jpg",
        "ca": "",
        "text": "Peggy Liu",
        "filetype": "image" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/qCYkN3uQ0Vs",
        "ca": "",
        "text": "Ellen MacArthur Sustainability Speaker | The Importance of Embracing a Circular Economy",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/e2lUZurRX8k",
        "ca": "",
        "text": "Pia Heidenmark Cook: Learning from IKEA`s approach to Sustainability [EXCLUSIVE INTERVIEW]",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/fglK87oXbTE",
        "ca": "",
        "text": "The Issue With \"Environmentally Friendly\" | Q&A With UK Climate Champion",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/olLhLNrAEys",
        "ca": "",
        "text": "Kate Brandt: Google`s Chief Sustainability Officer on Google`s Circular Economy Mission",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/hhGxwkZNZj8",
        "ca": "",
        "text": "Sustainability Challenges For Retail & Hospitality | Q&A With CEO of Forum for the Future",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/A4t55FUtVJg",
        "ca": "",
        "text": "Steve Howard Sustainability Speaker | Future of the Climate Change Battle",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/YP9Gri0zSo8",
        "ca": "",
        "text": "Jeremy Schwartz Speaker Showreel | Former CEO of The Body Shop Reveals Key Tools for Transformation",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/032TShApaho",
        "ca": "",
        "text": "Full interview - Mike Barry, Marks & Spencer, talks about innovation",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/vy2gOq6nTJY",
        "ca": "",
        "text": "Learning from nature | Michael Pawlyn | TEDxLondonCity2.0",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://youtu.be/_yP9IRbxtEw",
        "ca": "",
        "text": "TEDxChCh - Peggy Liu - China as the Cleantech Laboratory of the World",
        "filetype": "video" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://www.ellenmacarthurfoundation.org/topics/circular-economy-introduction/overview",
        "ca": "",
        "text": "What is a circular economy?",
        "filetype": "article" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://www.ellenmacarthurfoundation.org/eliminate-waste-and-pollution",
        "ca": "",
        "text": "Eliminate waste and pollution",
        "filetype": "article" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://www.ellenmacarthurfoundation.org/circulate-products-and-materials",
        "ca": "",
        "text": "Circulate products and materials",
        "filetype": "article" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://www.ellenmacarthurfoundation.org/regenerate-nature",
        "ca": "",
        "text": "Regenerate nature",
        "filetype": "article" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://www.ellenmacarthurfoundation.org/articles/circular-ish-embracing-the-messy-reality-of-circular-economy-innovation",
        "ca": "",
        "text": "Circular-ish: embracing the messy reality of circular economy innovation",
        "filetype": "article" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "",
        "href": "https://www.barcelona.cat/assetsdi/img/logo.svg",
        "ca": "Ajuntament de Barcelona",
        "text": "logo",
        "filetype": "svg" 
        }'
      >
      </include>

      <include
        src="./views/component-list-link.html"
        locals='{
        "css": "rounded-b-md",
        "href": "https://guestevents.firabarcelona.com/app/uploads/2022/01/logo-fira-de-barcelona-positive-1.svg",
        "ca": "Fira de Barcelona",
        "text": "logo",
        "filetype": "svg" 
        }'
      >
      </include>
    </div>
  </div>
</footer>
