<footer class="layout-area-footer bg-blue-900"> 
  <div class="py-2 px-3 border-top border-secondary-subtle bg-light-subtle text-center">
    <div class="w-lg-85 w-xl-75 mx-auto">
      <p class="d-md-inline me-1">Contact Us:</p>
      <address class="d-md-inline">
        <a class="d-block d-md-inline me-md-2" href="javascript:void(0)">circular-economy-101@yopmail.com</a>
        <a href="javascript:void(0)">+34 93 233 20 00</a>
      </address>
    </div>
  </div>

  <div class="nav justify-content-center align-items-center py-2 border-top bg-light-subtle">
    <p class="d-flex align-items-center">
      <include src="./views/logo-sm.html"></include> 
      <span class="h5 fw-bold text-secondary">Circular Economy 101</span>     
    </p>  
    
    <ul class="nav justify-content-center mx-md-4 mx-lg-5">    
      <include src="./views/nav-home.html"></include>  
      <include src="./views/nav-items.html"></include>  
    </ul>

    <nav class="nav">
      <button type="button" class="btn btn-link">
        <i class="bi bi-google"></i>
      </button>
      <button type="button" class="btn btn-link">
        <i class="bi bi-facebook"></i>
      </button>
      <button type="button" class="btn btn-link">
        <i class="bi bi-twitter"></i>
      </button> 
    </nav>
    
   <div class="d-flex mt-2 mt-xl-0 ms-xl-5">    
     <img
     src="./assets/images/bcn.svg?as=webp" 
     alt="Barcelona City Hall logo" 
     width="145"
     height="45"> 
     
     <img
     src="./assets/images/fira.svg?as=webp" 
     alt="Barcelona Fair logo" 
     width="145"
     height="45"> 
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center gap-2 py-3 text-white">
    <img class="bg-white rounded" 
        src="./assets/images/logo.png?as=webp"
        alt="logo UOC"
        width="174"
      height="45"> 
    <div> 
      <p>Isaac Bejarano, 2025</p>
      <p class="fst-normal">
        <small> 
          <i class="bi bi-c-circle"></i>
          <span lang="ca">
            Universitat Oberta de Catalunya
          </span>
        </small>
      </p>
    </div> 
  </div>

  <div class="accordion accordion-flush w-lg-50 mx-auto" id="accordionRefs">
    <div class="accordion-item">
      <p class="accordion-header">
        <button class="accordion-button collapsed border border-primary-subtle rounded-top-4"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne">
          References
        </button>
      </p>
      <div class="accordion-collapse collapse border border-primary-subtle mb-lg-3" 
        id="flush-collapseOne"
        data-bs-parent="#accordionRefs">
        <div class="accordion-body">
          <div class="list-group">
            <!-- website -->
            <a class="list-group-item list-group-item-action"
              href="https://sustainability-speakers.com/news/top-10-lists/official-circular-economy-speakers" 
              target="_blank">
              The Sustainability Speakers Agency
              <span class="text-primary">(website)</span>              
            </a>  
            <!-- images -->
            <a class="list-group-item list-group-item-action"
              href="https://commons.wikimedia.org/wiki/File:Ellen-McArthur_(1).jpg"
              target="_blank">          
              Ellen McArthur 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://sustainability-speakers.com/wp-content/uploads/2021/04/Pia-Heidenmark-Cook-Sustainability-.jpg.webp"
              target="_blank">          
              Pia Heidenmark Cook 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://climatehughes.org/wp-content/uploads/2022/02/EO0A7596-1280x914.jpg"
              target="_blank">          
              Nigel Topping 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://commons.wikimedia.org/wiki/File:2019_-_Centre_Stage_-_Day_2_VJR21719_(49024431887).jpg"
              target="_blank">          
              Kate Brandt 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://eco-business.imgix.net/uploads/ebmedia/fileuploads/sally_uren.jpg?ar=16%3A10&auto=format&dpr=2&fit=crop&ixlib=django-1.2.0&q=45&width=480"
              target="_blank">          
              Sally Uren 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://sustainability-speakers.com/wp-content/uploads/2021/04/Steve-Howard.jpg.webp"
              target="_blank">          
              Steve Howard 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://commons.wikimedia.org/wiki/File:Jeremy_Schwartz.png"
              target="_blank">          
              Jeremy Schwartz 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://sustainability-speakers.com/wp-content/uploads/2022/02/Mike-Barry-Sustainability-.jpg.webp"
              target="_blank">          
              Mike Barry 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://assets.weforum.org/sf_account/image/bW1nk-YuXW1eeDOjkA61ZaORWIPK9KFyi-nFsm1iyfc.jpg"
              target="_blank">          
              Michael Pawlyn 
              <span class="text-primary">(image)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://ses-cdn.react.hk/wp-content/uploads/2024/07/27123007/632921108a6c13b8652136c9_Keynote-Speech-A_Ms-Peggy-LIU_Photo.jpg"
              target="_blank">          
              Peggy Liu 
              <span class="text-primary">(image)</span>              
            </a>             
            <!-- videos -->
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/qCYkN3uQ0Vs"
              target="_blank">          
              Ellen MacArthur Sustainability Speaker | The Importance of Embracing a Circular Economy
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/e2lUZurRX8k"
              target="_blank">          
              Pia Heidenmark Cook: Learning from IKEA's approach to Sustainability [EXCLUSIVE INTERVIEW] 
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/fglK87oXbTE"
              target="_blank">          
              The Issue With "Environmentally Friendly" | Q&A With UK Climate Champion 
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/olLhLNrAEys"
              target="_blank">          
              Kate Brandt: Google's Chief Sustainability Officer on Google's Circular Economy Mission
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/hhGxwkZNZj8"
              target="_blank">          
              Sustainability Challenges For Retail & Hospitality | Q&A With CEO of Forum for the Future
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/A4t55FUtVJg"
              target="_blank">          
              Steve Howard Sustainability Speaker | Future of the Climate Change Battle 
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/YP9Gri0zSo8"
              target="_blank">          
              Jeremy Schwartz Speaker Showreel | Former CEO of The Body Shop Reveals Key Tools for Transformation 
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/032TShApaho"
              target="_blank">          
              Full interview - Mike Barry, Marks & Spencer, talks about innovation
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/vy2gOq6nTJY"
              target="_blank">          
              Learning from nature | Michael Pawlyn | TEDxLondonCity2.0
              <span class="text-primary">(video)</span>              
            </a>   
            <a class="list-group-item list-group-item-action"
              href="https://youtu.be/_yP9IRbxtEw"
              target="_blank">          
              TEDxChCh - Peggy Liu - China as the Cleantech Laboratory of the World 
              <span class="text-primary">(video)</span>              
            </a>     
            <!-- articles -->
            <a class="list-group-item list-group-item-action"
              href="https://www.ellenmacarthurfoundation.org/topics/circular-economy-introduction/overview"
              target="_blank">          
              What is a circular economy? 
              <span class="text-primary">(article)</span>              
            </a>     
            <a class="list-group-item list-group-item-action"
              href="https://www.ellenmacarthurfoundation.org/eliminate-waste-and-pollution"
              target="_blank">          
              Eliminate waste and pollution
              <span class="text-primary">(article)</span>              
            </a>     
            <a class="list-group-item list-group-item-action"
              href="https://www.ellenmacarthurfoundation.org/circulate-products-and-materials"
              target="_blank">          
              Circulate products and materials
              <span class="text-primary">(article)</span>              
            </a>     
            <a class="list-group-item list-group-item-action"
              href="https://www.ellenmacarthurfoundation.org/regenerate-nature"
              target="_blank">          
              Regenerate nature
              <span class="text-primary">(article)</span>              
            </a>
            <a class="list-group-item list-group-item-action"
              href="https://www.ellenmacarthurfoundation.org/articles/circular-ish-embracing-the-messy-reality-of-circular-economy-innovation"
              target="_blank">          
              Circular-ish: embracing the messy reality of circular economy innovation
              <span class="text-primary">(article)</span>              
            </a>    
            <!-- logos -->
            <a class="list-group-item list-group-item-action"
              href="https://www.barcelona.cat/assetsdi/img/logo.svg" 
              target="_blank">
              <span lang="ca">
                Ajuntament de Barcelona 
              </span>
              logo
              <span class="text-primary">(svg)</span>              
            </a>            
            <a class="list-group-item list-group-item-action"
              href="https://guestevents.firabarcelona.com/app/uploads/2022/01/logo-fira-de-barcelona-positive-1.svg" 
              target="_blank">
              <span lang="ca">
                Fira de Barcelona 
              </span>
              logo
              <span class="text-primary">(svg)</span>              
            </a>            
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

