<header class="py-4 shadow-sm">
  <nav class="flex justify-around items-center">
    <p class="leading-[1.5] cursor-pointer">
      <a class="flex items-center" href="index.html">
        <include src="./views/logo.html"></include>
        <span class="text-2xl text-secondary font-secondary font-bold">
          Circular Economy 101
        </span>
      </a>
    </p>
    <ul class="flex flex-wrap items-center">
      <include src="./views/nav-items.html"></include>
      <li class="block py-2 px-4">
        <a
          class="capitalize text-primary hover:text-primary-shade"
          href="javascript:void(0)"
        >
          <i class="fa-solid fa-language"></i>
        </a>
      </li>
    </ul>
  </nav>
</header>
