@use "sass:map";
// FIXME: remove

////
// BOOTSTRAP UTILITY CUSTOMIZATION
////

$all-colors: map-merge-multiple(
  $blues,
  $indigos,
  $purples,
  $pinks,
  $reds,
  $oranges,
  $yellows,
  $greens,
  $teals,
  $cyans
);

// Added all B5 palette colors for "text", "bg" and "border" classes. Responsiveness added too.
// Added responsiveness and more values to "w" and "h" classes.
$utilities: map.merge(
  $utilities,
  (
    // e.g. text-purple-500
    "color": map.merge(
        map.get($utilities, "color"),
        (
          responsive: true,
          values: map.merge(
              map.get(map.get($utilities, "color"), "values"),
              ($all-colors)
            ),
        )
      ),
    // e.g. bg-purple-500
    "background-color": map.merge(
        map.get($utilities, "background-color"),
        (
          responsive: true,
          values: map.merge(
              map.get(map.get($utilities, "background-color"), "values"),
              $all-colors
            ),
        )
      ),
    // e.g. border-blue-500
    "border-color": map.merge(
        map.get($utilities, "border-color"),
        (
          responsive: true,
          values: map.merge(
              map.get(map.get($utilities, "border-color"), "values"),
              $all-colors
            ),
        )
      ),
    // e.g. w-lg-85
    "width": map.merge(
        map.get($utilities, "width"),
        (
          responsive: true,
          values: map.merge(
              map.get(map.get($utilities, "width"), "values"),
              (
                85: 85%,
              )
            ),
        )
      ),
    // e.g. h-lg-85
    "height": map.merge(
        map.get($utilities, "height"),
        (
          responsive: true,
          values: map.merge(
              map.get(map.get($utilities, "height"), "values"),
              (
                85: 85%,
              )
            ),
        )
      )
  )
);
