@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/AlegreyaSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AlegreyaSans";
  font-style: oblique;
  font-weight: 400;
  src: url("../fonts/AlegreyaSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "AlegreyaSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/AlegreyaSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AlegreyaSans";
  font-style: oblique;
  font-weight: 700;
  src: url("../fonts/AlegreyaSans-BoldItalic.ttf") format("truetype");
}
