// FIXME: remove -> Ambos mixins sólo afectan a speakers.html

////
// MIXINS
////

// B5 Card Group auto layout grid
////

@mixin b5-auto-card-group($flex-basis) {
  .card-group {
    // .card-group already flex and flex-wrap

    > .card {
      display: block;
      // shrink:1 not to exceed ".card-group" container
      // grow:1 to fill available free space in ".card-group" container
      flex: 1 1 $flex-basis !important;
      max-width: $flex-basis;

      // re-scale img when shrinking or growing the card
      .card-img-top {
        object-fit: cover;
        object-position: top;
      }
    }
  }
}

// FX
////

// Sweep Background vertically
@mixin sweep-bg-v($color1, $color2, $time: 0.5s) {
  background-image: none;
  background-image: linear-gradient(to top, $color1 50%, $color2);
  background-position: bottom;
  background-size: 100% 300%; // bigger vertically
  animation: sweep-bg-v-keyframes $time ease-out normal infinite;
}

// AUX
////

@keyframes sweep-bg-v-keyframes {
  0% {
    background-position: bottom;
  }
  100% {
    background-position: top;
  }
}
