////
// THEMING
////

@theme {
  // Fonts
  ////

  --font-primary: "AlegreyaSans", Arial, sans-serif;
  --font-secondary: "Georgia", "Times New Roman", serif;

  // Color
  ////

  --color-primary: #d63384;
  --color-primary-subtle: #efadce;
  --color-secondary: #084298;
  --color-secondary-shade: #031633;
  --color-coal: #0f0f0f;
  --color-coal-subtle: oklch(0.26 0.01 0 / 0.75);
  --color-silver-subtle: oklch(0.98 0 0);
  --color-plum: oklch(0.5 0.19 295);
  --color-plum-subtle: oklch(0.8 0.07 300.92);
  --color-ultramarine: oklch(0.58 0.23 260.03);
}
